In [1]:
import pandas as pd

# data cleaning of a to be called customer data set

In [10]:
df = pd.read_excel("/Users/mohamed/Desktop/P/data_cleaning_Prj1/Original_Customer_List .xlsx")
df.head(25)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
21,1021,Bruce,Wayne,NaN,999 Gotham St,Yes,No,True
22,1022,Tony,Stark,555!123!7890,"300 Stark Tower, New York",Y,N,False
23,1023,Diana,Prince,123-567-8901,1010 Wonder Lane,No,No,True
24,1024,Luke,Skywalker,567 890 1234,"125 Jedi Temple, Tatooine",Yes,Yes,True

In [ ]:
# we can see there are few things to clean : caracter in Last_Name column, different  Phone_Number format, some adresses have a zip code others don't, same lines, Nan, Yes Y No N, unuseful last column

In [12]:
df = df.drop_duplicates()
df
#got rid of the duplicate line

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
...,...,...,...,...,...,...,...,...
96,1096,Thor,Odinson,999-888-5555,Asgard,Yes,No,False
97,1097,Loki,Laufeyson,123-555-9999,Asgard,No,Yes,True
98,1098,Heimdall,NaN,876|222|4444,Asgard,Yes,No,False
99,1099,Valkyrie,NaN,999-333-8888,Asgard,Yes,No,True
100,1100,Sif,Lady,555-123-8888,Asgard,Yes,Yes,False

In [27]:
df = df.drop(columns = 'Not_Useful_Column')
df 
#got rid of the unecessary column

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [16]:
df['Last_Name'] = df['Last_Name'].str.lstrip('...')
df
#got rid of the '...' before Last_Name Potter row 11

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
...,...,...,...,...,...,...,...,...
96,1096,Thor,Odinson,999-888-5555,Asgard,Yes,No,False
97,1097,Loki,Laufeyson,123-555-9999,Asgard,No,Yes,True
98,1098,Heimdall,NaN,876|222|4444,Asgard,Yes,No,False
99,1099,Valkyrie,NaN,999-333-8888,Asgard,Yes,No,True
100,1100,Sif,Lady,555-123-8888,Asgard,Yes,Yes,False

In [18]:
df['Last_Name'] = df['Last_Name'].str.lstrip('/')
df['Last_Name'] = df['Last_Name'].str.rstrip('_')
df 
#got rid of typos at the beg&end of LastNames

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
...,...,...,...,...,...,...,...,...
96,1096,Thor,Odinson,999-888-5555,Asgard,Yes,No,False
97,1097,Loki,Laufeyson,123-555-9999,Asgard,No,Yes,True
98,1098,Heimdall,NaN,876|222|4444,Asgard,Yes,No,False
99,1099,Valkyrie,NaN,999-333-8888,Asgard,Yes,No,True
100,1100,Sif,Lady,555-123-8888,Asgard,Yes,Yes,False

In [20]:
df["Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]','', regex=True)
df
#got rid of any caracter not a number or a letter : standardize our Phone numbers

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,False
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,True
...,...,...,...,...,...,...,...,...
96,1096,Thor,Odinson,9998885555,Asgard,Yes,No,False
97,1097,Loki,Laufeyson,1235559999,Asgard,No,Yes,True
98,1098,Heimdall,NaN,8762224444,Asgard,Yes,No,False
99,1099,Valkyrie,NaN,9993338888,Asgard,Yes,No,True
100,1100,Sif,Lady,5551238888,Asgard,Yes,Yes,False

In [22]:
df["Phone_Number"] = df["Phone_Number"].apply(lambda x : str(x))
df
# converted our phone numbers to string

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,False
2,1003,Walter,White,nan,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,True
...,...,...,...,...,...,...,...,...
96,1096,Thor,Odinson,9998885555,Asgard,Yes,No,False
97,1097,Loki,Laufeyson,1235559999,Asgard,No,Yes,True
98,1098,Heimdall,NaN,8762224444,Asgard,Yes,No,False
99,1099,Valkyrie,NaN,9993338888,Asgard,Yes,No,True
100,1100,Sif,Lady,5551238888,Asgard,Yes,Yes,False

In [24]:
df["Phone_Number"] = df["Phone_Number"].apply(lambda x : x[0:3]+'-'+x[3:6]+'-'+x[6:10])
df
#inserted '-' to standardize phone numbers

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,nan--,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,True
...,...,...,...,...,...,...,...,...
96,1096,Thor,Odinson,999-888-5555,Asgard,Yes,No,False
97,1097,Loki,Laufeyson,123-555-9999,Asgard,No,Yes,True
98,1098,Heimdall,NaN,876-222-4444,Asgard,Yes,No,False
99,1099,Valkyrie,NaN,999-333-8888,Asgard,Yes,No,True
100,1100,Sif,Lady,555-123-8888,Asgard,Yes,Yes,False

In [26]:
df["Phone_Number"] = df["Phone_Number"].replace('Na--','')
df["Phone_Number"] = df["Phone_Number"].replace('nan--','')
df 
#got rid of the 'Na/nan' values by remplacing them with a blank

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,True
...,...,...,...,...,...,...,...,...
96,1096,Thor,Odinson,999-888-5555,Asgard,Yes,No,False
97,1097,Loki,Laufeyson,123-555-9999,Asgard,No,Yes,True
98,1098,Heimdall,NaN,876-222-4444,Asgard,Yes,No,False
99,1099,Valkyrie,NaN,999-333-8888,Asgard,Yes,No,True
100,1100,Sif,Lady,555-123-8888,Asgard,Yes,Yes,False

In [28]:
df['Address'].str.split(',',n=2, expand=True)
#splited street state and zipcode

                       0              1       2
0         123 Shire Lane          Shire    None
1    93 West Main Street           None    None
2     298 Drugs Driveway           None    None
3       980 Paper Avenue   Pennsylvania   18503
4       123 Dragons Road           None    None
..                   ...            ...     ...
96                Asgard           None    None
97                Asgard           None    None
98                Asgard           None    None
99                Asgard           None    None
100               Asgard           None    None

[100 rows x 3 columns]

In [30]:
df[['Street_Address', 'State', 'Zip_Code']] = df['Address'].str.split(',',n=2, expand=True)
#created new columns with the splited values of Adress column

In [32]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,False,93 West Main Street,None,None
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,True,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,True,123 Dragons Road,None,None
...,...,...,...,...,...,...,...,...,...,...,...
96,1096,Thor,Odinson,999-888-5555,Asgard,Yes,No,False,Asgard,None,None
97,1097,Loki,Laufeyson,123-555-9999,Asgard,No,Yes,True,Asgard,None,None
98,1098,Heimdall,NaN,876-222-4444,Asgard,Yes,No,False,Asgard,None,None
99,1099,Valkyrie,NaN,999-333-8888,Asgard,Yes,No,True,Asgard,None,None
100,1100,Sif,Lady,555-123-8888,Asgard,Yes,Yes,False,Asgard,None,None

In [34]:
df = df.drop(columns = 'Not_Useful_Column')
df
#had to drop the unuseful once again don't know why it showed up again

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,123 Dragons Road,None,None
...,...,...,...,...,...,...,...,...,...,...
96,1096,Thor,Odinson,999-888-5555,Asgard,Yes,No,Asgard,None,None
97,1097,Loki,Laufeyson,123-555-9999,Asgard,No,Yes,Asgard,None,None
98,1098,Heimdall,NaN,876-222-4444,Asgard,Yes,No,Asgard,None,None
99,1099,Valkyrie,NaN,999-333-8888,Asgard,Yes,No,Asgard,None,None
100,1100,Sif,Lady,555-123-8888,Asgard,Yes,Yes,Asgard,None,None

In [36]:
df['Paying Customer'].str.replace('Y','Yes')
#gotta do the other way around yes to y + less data u have better it is

0      Yeses
1         No
2          N
3      Yeses
4        Yes
       ...
96     Yeses
97        No
98     Yeses
99     Yeses
100    Yeses
Name: Paying Customer, Length: 100, dtype: object

In [38]:
df['Paying Customer'] = df['Paying Customer'].str.replace('Yes','Y')
df['Paying Customer'] = df['Paying Customer'].str.replace('No','N')
df.head()
#standardized the paying customer column

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Yes,93 West Main Street,None,None
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,123 Dragons Road,None,None

In [40]:
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Yes','Y')
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('No','N')
df.head(10)
#standardized the Do_Not_Contact column

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Y,93 West Main Street,None,None
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,,1209 South Street,N,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,123 Middle Earth,Y,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,25th Main Street,New York,None

In [42]:
df = df.fillna('')
df
#inserted a blanked value into all fields that hadnot NaN(int) or None(str)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Y,93 West Main Street,,
2,1003,Walter,White,,298 Drugs Driveway,N,,298 Drugs Driveway,,
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,123 Dragons Road,,
...,...,...,...,...,...,...,...,...,...,...
96,1096,Thor,Odinson,999-888-5555,Asgard,Y,N,Asgard,,
97,1097,Loki,Laufeyson,123-555-9999,Asgard,N,Y,Asgard,,
98,1098,Heimdall,,876-222-4444,Asgard,Y,N,Asgard,,
99,1099,Valkyrie,,999-333-8888,Asgard,Y,N,Asgard,,
100,1100,Sif,Lady,555-123-8888,Asgard,Y,Y,Asgard,,

In [44]:
df = df.replace('N/a','')
df 
#got rid of the N/a which is actually a value unlike NaN

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Y,93 West Main Street,,
2,1003,Walter,White,,298 Drugs Driveway,N,,298 Drugs Driveway,,
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,123 Dragons Road,,
...,...,...,...,...,...,...,...,...,...,...
96,1096,Thor,Odinson,999-888-5555,Asgard,Y,N,Asgard,,
97,1097,Loki,Laufeyson,123-555-9999,Asgard,N,Y,Asgard,,
98,1098,Heimdall,,876-222-4444,Asgard,Y,N,Asgard,,
99,1099,Valkyrie,,999-333-8888,Asgard,Y,N,Asgard,,
100,1100,Sif,Lady,555-123-8888,Asgard,Y,Y,Asgard,,

In [46]:
for x in df.index: 
    if df.loc[x,'Phone_Number'] == '':
        df.drop(x, inplace=True)

df
#created a loup to drop all blankes rows of PhoneNumber column

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Y,93 West Main Street,,
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,123 Dragons Road,,
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,768 City Parkway,,
...,...,...,...,...,...,...,...,...,...,...
96,1096,Thor,Odinson,999-888-5555,Asgard,Y,N,Asgard,,
97,1097,Loki,Laufeyson,123-555-9999,Asgard,N,Y,Asgard,,
98,1098,Heimdall,,876-222-4444,Asgard,Y,N,Asgard,,
99,1099,Valkyrie,,999-333-8888,Asgard,Y,N,Asgard,,
100,1100,Sif,Lady,555-123-8888,Asgard,Y,Y,Asgard,,

In [48]:
for x in df.index: 
    if df.loc[x,'Do_Not_Contact'] == 'Y':
        df.drop(x, inplace=True)

df
#created a loup to drop all Yes rows of Do_Not_Contact column

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,123 Dragons Road,,
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,98 Clue Drive,,
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,25th Main Street,New York,
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,2039 Main Street,,
...,...,...,...,...,...,...,...,...,...,...
93,1093,Omega Red,Arkady,888-111-4444,123 Soviet Base,Y,N,123 Soviet Base,,
94,1094,Black Widow,Natasha,777-555-3333,123 Spy Lane,Y,N,123 Spy Lane,,
96,1096,Thor,Odinson,999-888-5555,Asgard,Y,N,Asgard,,
98,1098,Heimdall,,876-222-4444,Asgard,Y,N,Asgard,,
99,1099,Valkyrie,,999-333-8888,Asgard,Y,N,Asgard,,

In [50]:
df = df.reset_index(drop=True)
#reset index

In [52]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,
1,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,123 Dragons Road,,
2,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,98 Clue Drive,,
3,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,25th Main Street,New York,
4,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,2039 Main Street,,
...,...,...,...,...,...,...,...,...,...,...
57,1093,Omega Red,Arkady,888-111-4444,123 Soviet Base,Y,N,123 Soviet Base,,
58,1094,Black Widow,Natasha,777-555-3333,123 Spy Lane,Y,N,123 Spy Lane,,
59,1096,Thor,Odinson,999-888-5555,Asgard,Y,N,Asgard,,
60,1098,Heimdall,,876-222-4444,Asgard,Y,N,Asgard,,
61,1099,Valkyrie,,999-333-8888,Asgard,Y,N,Asgard,,

In [54]:
df = df.drop(columns ='Zip_Code')
df
#droped zipcode column as its empty

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire
1,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,123 Dragons Road,
2,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,98 Clue Drive,
3,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,25th Main Street,New York
4,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,2039 Main Street,
...,...,...,...,...,...,...,...,...,...
57,1093,Omega Red,Arkady,888-111-4444,123 Soviet Base,Y,N,123 Soviet Base,
58,1094,Black Widow,Natasha,777-555-3333,123 Spy Lane,Y,N,123 Spy Lane,
59,1096,Thor,Odinson,999-888-5555,Asgard,Y,N,Asgard,
60,1098,Heimdall,,876-222-4444,Asgard,Y,N,Asgard,
61,1099,Valkyrie,,999-333-8888,Asgard,Y,N,Asgard,

In [56]:
df = df[['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Street_Address', 'State', 'Address', 'Paying Customer', 'Do_Not_Contact']]
df = df.drop(columns='Address')

#reorganized order of columns and droped unuseful ones

In [58]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Street_Address,State,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,Y,N
1,1005,Jon,Snow,876-678-3469,123 Dragons Road,,Y,N
2,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,,N,N
3,1010,Peter,Parker,123-545-5421,25th Main Street,New York,Y,N
4,1013,Don,Draper,123-543-2345,2039 Main Street,,Y,N
...,...,...,...,...,...,...,...,...
57,1093,Omega Red,Arkady,888-111-4444,123 Soviet Base,,Y,N
58,1094,Black Widow,Natasha,777-555-3333,123 Spy Lane,,Y,N
59,1096,Thor,Odinson,999-888-5555,Asgard,,Y,N
60,1098,Heimdall,,876-222-4444,Asgard,,Y,N
61,1099,Valkyrie,,999-333-8888,Asgard,,Y,N

In [60]:
df.to_excel('cleaned_data.xlsx', index=False)

# END ^^